* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Manrope", sans-serif;

  background: #f4f4f5;
}

.container-fluid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sidebar {
  width: 20%;
  height: 100vh;

  background-color: #e8e9ec;
}

.main-container {
  width: 60%;
  padding: 20px;

  background-color: #f4f4f5;
}

.page-header {
  width: 162px;
  height: 65px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  display: flex;
  align-items: center;

  color: #000000;
}

/* now playing sidebar (right bar) */
.music-status {
  width: 20%;
  border-left: 1px gray solid;
  background-color: #f4f4f5;
}
/* library */
.clr_primaryFG {
  color: #3d85a3;
}
.clr_primaryBG {
  background-color: #3d85a3;
}
.btn-main {
  color: #f4f4f5;
  background-color: #3d85a3;
  width: 160px;
  height: 50px;
  border: #3d85a3;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.btn-main-outline {
  color: #3d85a3;
  background-color: #f4f4f5;
  width: 160px;
  height: 50px;
  border: solid #3d85a3 3px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.btn-main:hover {
  color: #f4f4f5;
  background-color: #698a98;
}
.btn-main-outline:hover{
  color: #f4f4f5;
  background-color: #698a98;
  border: solid #698a98 3px;
}
/* artist profile */
.back_btn_container {
  align-items: center;
  justify-content: center;
  display: flex;
  line-height: 100%;
  font-weight: 700;
  font-size: 16px;
}
.back_btn_container:hover {
  text-decoration: none;
  color: #344b54;
}
.back_btn_container:focus {
  text-decoration: none;
  color: #698a98;
}
.artist_profile_container {
  display: flex;
  flex-direction: row;
  padding: 20px;
  width: 100%;
}
.artist_profile_picture {
  /* max-width: 170px; */
  width: 165px;
  height: 165px;
  max-height: 20%;
  border-radius: 25px;
  object-fit: cover;
}
.artist_profile_details {
  display: block;
  padding: 20px;
  padding-top: 0px;
  width: 80%;
}
.artist_profile_name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 58px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}
.artist_profile_desc, .artist_profile_stat {
  width: 95%;
  max-height: 80px;
  overflow-y: hidden;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  /* line-height: 27px; */
  display: flex;
  align-items: center;

  color: #9799a0;
}
.artist_profile_stat {
  width: 30%;
}
.artist_profile_all_stats{
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.btn-play{
  width: max-content;
  /* border-radius: 8px; */
  background-color: #f4f4f5;
}
.btn-play:hover{
  background-color: #f4f4f5;
  transform: scale(1.5);
  /* transition: cubic-bezier(0.23, 1, 0.320, 1); */
}

.artist_profile_play{
  height: 150px;
  width: 150px;
}
.play_symbol{
  /* border-radius: 8px; */
  font-size: 48px;
  color: #3d85a3;
  background-color: #f4f4f5;
}
.artist_profile_buttons{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.artist_profile_actions{
  display: flex;
  flex-direction: row;
}
