.navbar {
  color: white;
  background-color: #913059;
}

.btn-purple {
  color: white;
  background-color: #913059;
}

/* homepage css */

.homeElement1 {
  min-height: 600px;

  border-radius: 20px;
  background-color: #ffffff;
}

.homeElement2 {
  height: 300px;

  border-radius: 20px;
  background: linear-gradient(to top right, #0066ff 0%, #cc99ff 100%);
}

.homeElement3 {
  min-height: 450px;

  border-radius: 20px;
}

.homeElement3t {
  height: 450px;

  border-radius: 20px;
}

.indivLecturerCard {
  width: 300px;
  height: 450px;

  background-color: white;
}

.quoteText {
  font-size: 2.5em;
}

.homeHeadingTextBody {
  font-size: 1.5em;
}

/* responsive */

@media only screen and(max-width: 989px) {
  .homeHeadingText {
    font-size: 2em;

    margin-top: 2px;
  }

  .homeElement2 {
    height: 200px;
  }

  .quoteText {
    font-size: 1.5em;
  }
}

/* individual course */

.indivCourseOverviewText {
  font-size: 1.3em;
}

.indivCourseElement2 {
  background: linear-gradient(to top right, #6600cc 0%, #ff9900 100%);
}

.indivCourseAssignment {
  border-radius: 20px;
  background-color: white;
}

.journalElement2 {
  background: linear-gradient(to bottom right, #cc33ff 0%, #ffcc00 100%);
}

.gradientCustom {
  color: #6600cc;
}

/* asignment submission */

.submissionElement2 {
  height: 400px;

  border-radius: 20px;
  background: linear-gradient(to bottom right, #6600cc 0%, #ff9900 100%);
  background-color: #ffffff;
}

/* journal */

.journalElement1 {
  min-height: 200px;
}

.journalElement3 {
  background: linear-gradient(to bottom left, #cf427e 0%, #79b1f3 100%);
}

/* agenda */

.agendaElement2 {
  background: linear-gradient(to bottom left, #6600cc 0%, #ffcc66 100%);
}

.agendaElement3 {
  min-height: 200px;

  border-radius: 20px;
  background: linear-gradient(to bottom left, #cf427e 0%, #79b1f3 100%);
}

/*
.indivAgenda{

}
*/

.agendaColorTag {
  width: 100px;
  height: 100px;

  border-radius: 20px;
}

/* to-do Checklist */

.todoChecklist {
  width: 300px;
  min-height: 450px;

  border-radius: 10px;
  background-color: #FFF5BF;
}

.checkedboxDito {
  width: 30px;
  height: 30px;

  border: none;
  border-radius: 5px;
  background-color: #913059;
}

.uncheckedboxDito {
  box-sizing: border-box;
  width: 30px;
  height: 30px;

  border: 5px solid #913059;
  border-radius: 5px;
  background-color: #FFF5BF;
}

.deleteList {
  width: 30px;
  height: 30px;

  border: none;
  border-radius: 5px;
  background: #FFE76B;
}

.deleteListItem {
  width: 30px;
  height: 30px;

  border: none;
  border-radius: 5px;
  background: #FFF5BF;
}

/* login and signup */

/* login page */

.loginContinue {
  width: 250px;
  margin: auto;

  color: white;
}

.gotoSignup {
  color: #717171;
}

.loginHeader {
  margin-bottom: 100px;
}

.signupHeader {
  margin-bottom: 60px;
}

.picCircle {
  position: relative;
  top: 6px;
  left: 1px;

  display: inline-block;

  width: 25px;
  height: 25px;

  border-radius: 50%;
  background: #50abff;
}

.newPostButton {
  position: relative;
  top: -13px;
  left: 10px;
}

/*
a {
  text-decoration: none;

  color: black;
}
*/

@media only screen and(max-width: 989px) {
  .loginPic {
    display: none;
  }

  .signupHeader {
    font-size: 30px;
  }

  .halfEntry {
    margin-bottom: 5px;
  }
}

@media only screen and(max-width: 1463px) {
  .signupHeader {
    font-size: 38px;
  }
}
