.player-container {
    display: flex;
    flex-direction: column;
}

.cover-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;

    border-radius: 5px 5px 0px 0px;
    background-image: linear-gradient(rgba( 61, 133, 163, 1) , rgba( 103, 170, 197, 0.63) );
}

.now-playing {
    padding: 20px;

    color: white;
}

.player-cover-art {
    width: 125px;
    height: 125px;

    border-radius: 12px;

    object-fit: cover;
}

.player-music-details {
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 20px 10px;
}

.music-name {
    font-weight: bold;

    color: #E8E9EC;
}

.artist-name {
    font-size: 15px;

    margin-top: 5px;

    color: #E8E9EC;
}

.rhap_container {
    padding: 25px 15px;

    border-radius: 0 0 5px 5px;
    background-color: #567784;
}

#rhap_current-time {
    font-size: 12px;

    color: white;
}

.rhap_total-time {
    font-size: 12px;

    color: white;
}

.rhap_progress-bar {
    background-color: white;
}

.rhap_progress-indicator {
    background-color: #FFE455;
}

.rhap_progress-filled {
    background-color: #FFE455;
}

.rhap_controls-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.rhap_additional-controls,
.rhap_volume-controls {
    flex: none;

    cursor: pointer;
}

.rhap_volume-bar-area,
.rhap_rewind-button,
.rhap_forward-button {
    display: none;
}

.queue-puller {
    display: none;
}

.queue-header {
    font-size: 20px;
    font-weight: 500;

    margin-top: 10px;

    color: #9799A0;
}

.nowplaying_music_name {
    font-size: large;
    font-weight: 600;

    margin-top: 10px;

    color: white;
}

.nowplaying_artist_name {
    font-size: smaller;
    font-weight: 300;

    color: white;
}

.clear-queue-button {
    font-weight: 600;

    padding: 12px 0px;

    cursor: pointer;
    transition: ease-in 0.2s;

    color: #3d85a3;
    border: 2px #fafafa solid;
    border-radius: 2px;
}

.clear-queue-button:hover {
    transform: scale(1.01);

    background: #f4f4f5;
}

.queue {
    overflow-y: scroll;

    height: 50vh;
}

.queue h5 {
    padding: 20px 10px;

    text-align: center;

    color: #494a4e;
}

@media(max-width: 1250px) {
    .player-container {
        display: grid;

        height: 10vh;
        padding: 0;

        grid-template-columns: 20vw 77vw 3vw;
        grid-template-rows: 10vh;
    }

    .cover-container {
        flex-direction: row;
        justify-content: flex-start;

        height: 10vh;
        padding: 10px;

        border-radius: 0;
        background-color: #567784;
        background-image: none;

        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .now-playing {
        display: none;
    }

    .player-cover-art {
        width: 40%;
        height: 100%;

        border-radius: 5px;

        object-fit: cover;
    }

    .player-music-details {
        align-items: flex-start;

        width: 60%;
        height: 100%;
        padding: 0 10px;
    }

    .music-name {
        font-size: 15px;
    }

    .artist-name {
        font-size: 10px;

        margin: 0;
    }

    .rhap_container {
        justify-content: center;

        height: 10vh;
        padding: 0 20px;

        border-radius: 0;
        box-shadow: none;

        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .rhap_progress-section {
        flex: none;

        width: 100%;
        padding: 5px;
    }

    .rhap_main {
        flex: none;
    }

    .rhap_stacked .rhap_controls-section {
        margin: 0;
    }

    .rhap_controls-section {
        flex: none;
        justify-content: space-between;

        padding: 5px;
    }

    .queue {
        overflow-y: scroll;

        height: 90vh;
    }

    .queue-container {
        position: absolute;
        top: 100%;
        left: 0;

        /* display: none; */

        width: 100vw;
        height: 90vh;
        padding: 20px;

        transition: ease-out 0.5s;

        background-image: linear-gradient(rgba( 61, 133, 163, 1) , rgba( 103, 170, 197, 1) );
    }

    .active-queue-container {
        position: absolute;
        top: 0;
        left: 0;

        display: block;

        animation: 0.5s linear 0s pop-up;
    }

    @keyframes pop-up {

    from {
        top: 100%;
    }

    to {
        top: 0;
    }
}

.queue-header {
    color: #E8E9EC;
}

.queue-puller {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    height: 10vh;

    cursor: pointer;

    color: #FFE455;
    background-color: #567784;

    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

}

@media(max-width: 975px) {
    .player-container {
        grid-template-columns: 10vw 87vw 3vw;
        grid-template-rows: 10vh auto;
    }

    .player-cover-art {
        width: 100%;
        height: 100%;

        border-radius: 5px;

        object-fit: cover;
    }

    .player-music-details {
        display: none;
    }
}
