/* library */

.clr_primaryFG {
  color: #3d85a3;
}

.clr_primaryBG {
  background-color: #3d85a3;
}

.btn-main {
  color: #f4f4f5;
  background-color: #3d85a3;
}

.btn-main:hover {
  color: #f4f4f5;
  background-color: #698a98;
}

/* all playlists */

.all_search_categories {
  margin-top: 32px;
  padding-bottom: 20px;

  border-radius: 8px;

  /* background: #fafafa; */

  box-shadow: 0px 8px 20px -80px rgba(0, 0, 0, 0.25);
}

.sub-header_search {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;

  padding: 5px 0px 0px 10px;

  color: #9799a0;
}

.create_new_playlist {
  font-size: 16px;
  font-weight: bold !important;

  cursor: pointer;

  color: #3d85a3;
}

.create_new_playlist:hover {
  color: #698a98;
}

/* for playlists scrollable */

.all_playlists .overflow-auto {
  max-height: 530px;
  margin-right: 4px;
  padding: 0px 24px;
}

/* individual playlist */

.indiv_music_search {
  display: flex;
  align-items: center;
  justify-content: space-between;

  min-height: 110px;
  margin-bottom: 5px;
  padding-right: 28px;

  cursor: default;
  cursor: default;

  border-radius: 8px;
  background: white;
}

/* image, name and description */

/* title class for name and desc blocks */

/* playlist stats */

/* icons */

/* images */

.all_search_artists {
  display: flex;
  flex-direction: row;
}

.all_search_musics {
  display: flex;
  overflow-y: scroll;
  flex-direction: column;

  height: 35vh;
}

.all_search_musics-full {
  display: flex;
  flex-direction: column;
}

.indiv_artist_card {
  display: flex;
  flex-direction: row;

  width: 160px;
  padding: 0;

  /* margin-right: 24px; */

  cursor: pointer;

  /* background-color: #ffffff; */

  border-radius: 8px;

  /* background-color: #ffffff; */

  border-radius: 8px;

  /* width: 190px; */
}

.indiv_artist_card:hover {
  transform: scale(1.05);
}

.artist_image {
  width: 150px;
  height: 150px;
  margin: 0px;

  border-radius: 8px;

  object-fit: cover;
  object-fit: cover;
}

.result-artist-name {
  font-size: 20px;
  font-weight: 400;
  font-style: normal;

  align-items: center;

  height: 20%;
  margin: 0;
  margin-top: 4px;
  padding: 0;

  text-align: center;

  color: #000000;
}

.search_container {
  line-height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.searchbar {
  width: 82%;

  /* width: 500px; */

  margin-right: 1%;
}

.searchbar:focus {
  border-color: #3d85a3;
  box-shadow: none;
}

.search_button {
  line-height: 100%;

  position: relative;

  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  width: 160px;
  height: 50px;

  text-align: center;

  color: #f4f4f5;
  border: #3d85a3;
  background-color: #3d85a3;
}

.search_button:hover {
  color: #f4f4f5;
  background-color: #698a98;
}

.search_icon {
  height: 100%;
}

.artist-card-name {
  text-decoration: none !important;

  /* color: black !important; */
}

.search_results_container {
  overflow-y: scroll;

  height: 75vh;
}

.filter-pill {
  margin: 5px 10px;
  padding: 5px 10px;

  cursor: pointer;
}

.filter-button {
  font-weight: 600;

  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;

  height: 50px;
  margin: 0px 10px;
  padding: 5px 20px;

  cursor: pointer;
  transition: ease-in 0.2s;
  text-align: center;

  color: #3d85a3;
  border: 2px #fafafa solid;
  border-radius: 2px;
}

.filter-button:hover {
  transform: scale(1.01);

  background: #f4f4f5;
}

.collapsible-div {
  position: absolute;
  z-index: 2 !important;
  right: 10px;

  flex-direction: column;

  width: 300px;
  height: 200px;
  margin-top: 8px;

  border-radius: 8px;
  background-color: white;
  box-shadow: grey 0px 1px;
}

.collapsible-header {
  font-weight: bold;

  margin-top: 20px;
  margin-left: 20px;
}

.collapsible-body {
  margin-top: 20px;
  margin-left: 15px;
}

.save-btn-filter {
  margin-top: 20px;
  margin-left: 15px;
  padding: 3px 20px;

  color: white;
  border-radius: 4px;
  background-color: #3d85a3;
}

.search_container > input {
  height: 50px;
}

/*
.search_button label{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 100%;
}
*/

@media only screen and(max-width: 600px) {
  .search_button label {
    font-size: 0px;
  }
}
