/* library */

.clr_primaryFG {
  color: #3d85a3;
}

.clr_primaryBG {
  background-color: #3d85a3;
}

.btn-main {
  color: #f4f4f5;
  background-color: #3d85a3;
}

.btn-main:hover {
  color: #f4f4f5;
  background-color: #698a98;
}

/* all playlists */

.all_search_categories {
  margin-top: 32px;
  padding-bottom: 20px;

  border-radius: 8px;

  /* background: #fafafa; */

  box-shadow: 0px 8px 20px -80px rgba(0, 0, 0, 0.25);
}

.sub-header_search {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;

  padding: 5px 0px 0px 10px;

  color: #9799a0;
}

.create_new_playlist {
  font-size: 16px;
  font-weight: bold !important;

  color: #3d85a3;
}

.create_new_playlist:hover {
  color: #698a98;
}

/* for playlists scrollable */

.all_playlists .overflow-auto {
  max-height: 530px;
  margin-right: 4px;
  padding: 0px 24px;
}

/* individual playlist */

.indiv_playlist {
  display: flex;
  align-items: center;
  justify-content: space-between;

  min-height: 110px;

  /* margin: 20px; */

  margin-bottom: 8px;
  padding: 5px 0px;
  padding-right: 28px;

  cursor: default;

  border-radius: 8px;
  background: #f4f4f5;
}

/* image, name and description */

/* title class for name and desc blocks */

/* playlist stats */

/* icons */

/* images */

.all_search_artists {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
}

.indiv_artist_card {
  display: flex;
  flex-direction: column;

  padding: 0;

  /* margin-right: 24px; */

  cursor: pointer;

  /* background-color: #ffffff; */

  border-radius: 8px;

  /* width: 190px; */
}

.indiv_artist_card:hover {
  transform: scale(1.05);
}

.artist_image {
  width: 180px;
  height: 180px;
  margin: 0px;

  border-radius: 8px;

  object-fit: cover;
}

.result-artist-name {
  font-size: 20px;
  font-weight: 400;
  font-style: normal;

  align-items: center;

  height: 20%;
  margin: 0;
  margin-top: 4px;
  padding: 0;

  text-align: center;

  color: #000000;
}

.search_container {
  line-height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.searchbar {
  width: 82%;

  /* width: 500px; */

  margin-right: 1%;
}

.searchbar:focus {
  border-color: #3d85a3;
  box-shadow: none;
}

.search_button {
  line-height: 100%;

  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;

  width: 17%;
}

.search_icon {
  height: 100%;
}

.artist-card-name {
  text-decoration: none !important;

  color: black !important;
}

/*
.search_button label{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 100%;
}
*/

@media only screen and(max-width: 600px) {
  .search_button label {
    font-size: 0px;
  }
}
