* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Manrope", sans-serif;

  overflow-y: hidden;

  height: 100vh;

  background-color: #F4F4F5;
}

.app-container {
  display: grid;

  grid-template-rows: 100vh;
  grid-template-columns: 20vw 60vw 20vw;
}

.main-container {
  height: 100vh;
  padding: 10px;
}

.page-header {
  font-size: 30px;
  font-weight: 800;

  margin-bottom: 20px;
}

.player-container {
  padding: 10px;
}

@media(max-width: 1250px) {
  .app-container {
    display: grid;

    grid-template-rows: 90vh 10vh;
    grid-template-columns: 70px auto;
  }

  .sidebar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .main-container {
    height: 90vh;

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
  }

  .player-container {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}
